
.big_border {
  width: 100%;
  height: 100%;
  /* 背景图片居中 */
  background-position: center;
  background-image: url(../assets/images/背景框.png);
  background-size: 100% 95%;
  background-color: black;
  z-index: 1;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 内容范围划分 */
.bid_content {
  transform: translateY(2.5%);
  width: 95%;
  height: 85%;
  z-index: 3;
  display: flex;
  font-size: 0.2rem;
}
/* 左侧 */
.left {
  width: 20%;
  height: 100%;
  // background-color: #e01818;
  display: flex;
  flex-direction: column;
}
.left_top-content{
  flex:1;
  display: flex;
  .left_top-content_left{
   width: 60%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
  }
  .left_top-content_right{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .left_top-content_right-content{
       width: 100%;
       font-size: 0.10rem;
       color: #dadee3;
       height: calc(70% / 5);
       display: flex;
       align-items: center;
       justify-content: space-between;
    }
    .left_top-content_right-content_dot-container{
      // width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
    }
   .left_top-content_right-content_dot{
      width: 0.07rem;
      height: 0.07rem;
      background-color: #fff;
      border-radius: 50%;
   }
   .left_top-content_right-content_text{
    display: flex;
    align-items: center;
    margin-left: 0.05rem;
   }
   .left_top-content_right-content_number{
    color: #a5dee0;
   }
   .left_top-content_right-content:nth-child(1) .left_top-content_right-content_dot {
      background-color: #33a8ff;
    }
    .left_top-content_right-content:nth-child(2) .left_top-content_right-content_dot {
      background-color: #5bf2ff;
    }
     .left_top-content_right-content:nth-child(3) .left_top-content_right-content_dot {
      background-color: #f6bd15;
    }
     .left_top-content_right-content:nth-child(4) .left_top-content_right-content_dot {
      background-color: #878cdc;
    }
     .left_top-content_right-content:nth-child(5) .left_top-content_right-content_dot {
      background-color: #878cdc;
    }
  }
}
/* 右侧 */
.right {
  width: 20%;
  height: 100%;
  // background-color: #0f805f; 
    display: flex;
  flex-direction: column;
}
.right_top, .right_bottom ,.right_center , .left_top,.left_bottom,.left_center {
  width: 100%;
  height: calc(100% / 3);
  display: flex;
  flex-direction: column;
}

/*中心区 */
.center {
  width: 60%;
  height: 100%;
  // background-color: #ffc8c8; 
}
